{% extends  'admin/layout.html' %}
{% block content %}
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 预告管理</a></li>
            <li class="active">添加预告</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加预告</h3>
                    </div>
                    {% include 'admin/flash_msg.html' %}
                    <form role="form" method="POST" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="input_title">预告标题</label>
                                <input type="text" class="form-control" id="input_title" placeholder="请输入预告标题！"
                                       value="{{ form.title.data|default('',True) }}" name="title">
                                {% for err in form.title.errors %}
                                    <div class="col-md-12">
                                        <span style="color:red">{{ err }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="input_logo">预告封面(选择图片会生成预览)</label>
                                <input name="logo" type="file" id="input_logo">
                                <img style="margin-top:5px;" class="img-responsive"
                                     alt="" id="img_up">
                                {% for err in form.logo.errors %}
                                    <div class="col-md-12">
                                        <span style="color:red">{{ err }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="box-footer">
                            {{ form.csrf_token }}
                            <button type="submit" class="btn btn-primary">添加</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $('#g-4').addClass('active');
            $('#g-4-1').addClass('active')
        });
        $('#input_logo').on('change', function () {//当chooseImage的值改变时，执行此函数
            var filePath = $(this).val(), //获取到input的value，里面是文件的路径
                fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
                src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式

            // 检查是否是图片
            if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
                error_prompt_alert('上传错误,文件格式必须为：png/jpg/jpeg');
                return;
            } else {
                $('#img_up').css('display', 'block');
                $('#img_up').attr('src', src);
            }
        });
    </script>
{% endblock %}